{% extends 'layouts/master.html' %}

{% block title %}
    Teacher Salary - List
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
{% endblock %}

{% block content %}
<div class="container mt-5">

    {% include "partials/_message.html" %}

    <h1>This is Teacher Salary list page</h1>
    <hr>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
              <form class="d-flex" role="search" action="{% url 'salary-teacher' %}" method="POST">
                {% csrf_token %}
                <input style="height: 30px;" class="form-control me-2" type="text" name="search" placeholder="Search by first name." aria-label="Search">
                <button class="btn btn-primary mb-3 mr-3" type="submit" style="height:30px; width: 160px; padding: 0px;"><i class="fa-solid fa-search"></i>Search</button>
                <a href="{% url 'salary-teacher' %}" class="btn btn-primary mb-3 ml-2"  style="height:30px; width: 160px; padding: 0px; margin-left: 5px;">Clear</a>
              </form>
        </div>
    </nav>
    <a href="{% url 'add-salary-teacher' %}" class="btn btn-primary mb-3"><i class="fa-solid fa-plus"></i> Add</a>
    <div class="row">
        <div class="col-8">
            <table class="table table-striped-columns table-hover">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Teacher ID</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th>Paid Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for val in data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ val.teacher_id }}</td>
                        <td>{{ val.first_name }}</td>
                        <td>{{ val.middle_name }}</td>
                        <td>{{ val.last_name }}</td>
                        <td>{{val.total_amount}}</td>
                        <td>{{val.status}}</td>
                        <td>{{val.paid_date}}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}