{% extends 'layouts/master.html' %}

{% block title %}
    Student - Detail
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>This is student detail page</h1>
    <div class="card">
        <div class="card-header"><h3>{{ data.first_name }}</h3></div>
        <div class="ccard-body">
            <h6>{{ data.session }}</h6>
            <h6>{{ data.email }}</h6>
        </div>
    </div>
    <a href="{% url 'index-student' %}" class="btn btn-primary mt-3">BACK</a>
</div>
{% endblock %}