{% extends 'layouts/master.html' %} 
{% block title %} 
    Subject - Add 
{% endblock %} 
{% block content %}
<div class="container">
  <div class="d-flex-row justify-content-center">
    <div class="d-flex-row justify-content-center">
      <div class="card p-2 mt-3" style="border-radius: 0%; max-width: 75%">
        {% load crispy_forms_tags %}
        <form action="{% url 'add-subject' %}" method="post">
          {% csrf_token %} {{ form|crispy }}
          <button type="submit" class="btn btn-primary mt-3">
            ADD SUBJECT
          </button>
          <a href="{% url 'index-subject' %}" class="btn btn-primary mt-3"
            >BACK</a
          >
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
